<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<div id="container">
  <div id="header">
    <h1>Artists</h1>
  </div>

  <div id="navigation">
    <p>
      <%= link_to "New Artist", new_artist_path %>
    </p>
  </div>

  <div id="menu"></div>

  <div class="content">
    <% @artists.each do |artist| %>
    <p>
      <%= link_to artist.name, artist_path(artist.id) %>
    </p>
    <% end %>
  </div>

  <div id="clear"></div>

  <div id="footer">
    <ul>
      <li>
        <a href="http://facebook.com/">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="http://linkedin.com/">
          <i class="fa fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="http://twitter.com/">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="http://plus.google.com/">
          <i class="fa fa-google-plus"></i>
        </a>
      </li>
    </ul>

  </div>
</div>
