<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <div class="header">
    <h1>Artists</h1>

  <div class="nav inline-items">
      <%= link_to "New Artist", new_artist_path, class:"button" %>
  </div>


  <div class="rightColumn">
    <% @artists.each do |artist| %>
      <ul>
          <%= link_to artist.name, artist_path(artist.id) %> <br>
          <%= image_tag artist.image, width:200, height:200, crop:"limit" %>
          <hr>
      </ul>
    <% end %>
  </div>

</div>
