body {
  background: #f5f5f5;
  color: #000000;
  font-family: Arial, Times New Roman;
  font-size: 16px;
}

#container {
  background: #99CC00;
  margin: 40px auto;
  width: 1000px;
  height: 600px;
}

#header {
  background: #83d0f2;
  height: 100px;
  width: 1000px;
}

#navigation {
  background: white;
  width: 1000px;
}

#menu {
  background: #99CC00;
  float: left;
  width: 300px;
  height: 400px;
}

#content {
  background: #d3d3d3;
  float: right;
  width: 700px;
  height: 400px;
}

#clear {
  clear: both;
}

#footer {
  background: #83d0f2;
  height: 80px;
  width: 1000px;
}
